*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: none;
  text-decoration: none;
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  font-size: 1rem;
  background-color: #f7f7f7;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #000; }

.heading-secondary {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.2rem; }

.heading-tertiary {
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 0.3rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-right-small {
  margin-right: 1rem; }

.btn:link, .btn:visited {
  width: 11rem;
  height: 3rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: center;
  line-height: 3rem;
  color: #fff;
  display: inline-block;
  background-color: #fff;
  border-radius: 3px; }

.btn--play:link, .btn--play:visited {
  color: #fff;
  background-color: #fe2832; }

.btn--play:hover, .btn--play:active {
  background-color: #f2010c; }

.btn--myList:link, .btn--myList:visited {
  color: #fff;
  background-color: #3d3d49; }

.btn--myList:hover, .btn--myList:active {
  background-color: #494957; }

.button {
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .button .light-mode,
  .button .dark-mode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%; }
  .button .light-mode {
    background: #fff url("../svg/sun.svg") no-repeat center;
    background-size: 3rem; }
  .button .dark-mode {
    background: #3d3d49 url("../svg/moon.svg") no-repeat center;
    background-size: 3rem; }

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .main .card {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    width: 26rem;
    margin-bottom: 2rem;
    background-color: #fff;
    overflow: hidden; }
    .main .card__img {
      width: 26rem;
      height: 14.5rem;
      margin-bottom: 2rem;
      background-size: cover; }
      .main .card__img--1 {
        background-image: url("../img/move-1.jpg"); }
      .main .card__img--2 {
        background-image: url("../img/move-1.jpg"); }
      .main .card__img--3 {
        background-image: url("../img/move-1.jpg"); }
      .main .card__img--4 {
        background-image: url("../img/move-1.jpg"); }
      .main .card__img--5 {
        background-image: url("../img/move-1.jpg"); }
      .main .card__img--6 {
        background-image: url("../img/move-1.jpg"); }
      .main .card__img--7 {
        background-image: url("../img/move-1.jpg"); }
      .main .card__img--8 {
        background-image: url("../img/move-1.jpg"); }
      .main .card__img--9 {
        background-image: url("../img/move-1.jpg"); }
    .main .card-content {
      padding: 0 1.2rem;
      font-size: 1rem; }
    .main .card__title {
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: capitalize;
      color: #000;
      margin-bottom: 0.5rem; }
    .main .card__classification {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem; }
      .main .card__classification .star {
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        background-color: #fe2832;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
    .main .card__link:link, .main .card__link:visited {
      text-transform: capitalize;
      line-height: 1.5rem;
      color: #000; }
      .main .card__link:link:not(:last-child), .main .card__link:visited:not(:last-child) {
        margin-right: 1rem; }
    .main .card__link:hover, .main .card__link:active {
      border-bottom: 1px solid #fe2832; }
    .main .card__text {
      margin-bottom: 2rem; }
    .main .card__cta {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem; }

.search-box {
  width: 100%; }

.input-search {
  outline: none; }
  .input-search--main {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    width: 100%;
    padding: 1.4rem 5rem;
    font-family: inherit;
    font-size: 1.2rem;
    background: #fff url("../img/search-button.png") no-repeat left;
    background-position: 2rem;
    box-sizing: border-box; }
  .input-search--filter {
    width: 70%;
    padding: 1rem;
    font-family: inherit;
    font-size: 1.2rem;
    background-color: #f7f7f7;
    border-radius: 3px; }
    .input-search--filter:not(:last-child) {
      margin-bottom: 1rem; }

.aside__browse {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 20rem;
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;
  background-color: #fff; }
  .aside__browse .navegation__item {
    padding: 0.8rem 0; }
  .aside__browse .navegation__link:link, .aside__browse .navegation__link:visited {
    font-size: 1.4rem;
    color: #000; }
  .aside__browse .navegation__link:hover, .aside__browse .navegation__link:active {
    color: #fe2832; }

.aside__filter {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 20rem;
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;
  background-color: #fff; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((100% - 6rem) / 2); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.menu {
  display: flex;
  width: 100%;
  padding: 1.5rem 3rem;
  position: absolute;
  top: 0;
  left: 0; }
  .menu__logo {
    width: 7.5rem;
    height: 2.5rem;
    margin-right: 3rem;
    background: url("../img/netflix_logo.png") no-repeat center; }
  .menu__link {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.5rem;
    display: inline-block;
    color: #000; }
    .menu__link:not(:last-child) {
      margin-right: 1.4rem; }
  .menu .user__img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    background: url("../img/user.jpg");
    background-size: cover;
    border: 2px solid #fff;
    border-radius: 3px;
    float: left; }
  .menu .user__name {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-transform: capitalize; }

.header {
  height: 48rem;
  position: relative;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  background-color: #fff; }

.section-features {
  padding: 4.5rem 0; }
