*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: none;
  text-decoration: none;
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  font-size: 1rem;
  background-color: #f7f7f7;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #000; }

.heading-secondary {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.2rem; }

.heading-tertiary {
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 0.3rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-right-small {
  margin-right: 1rem; }

.btn:link, .btn:visited {
  width: 11rem;
  height: 3rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: center;
  line-height: 3rem;
  color: #fff;
  display: inline-block;
  background-color: #fff;
  border-radius: 3px; }

.btn--play:link, .btn--play:visited {
  color: #fff;
  background-color: #fe2832; }

.btn--play:hover, .btn--play:active {
  background-color: #bf010a; }

.btn--myList:link, .btn--myList:visited {
  color: #fff;
  background-color: #3d3d49; }

.btn--myList:hover, .btn--myList:active {
  background-color: #6b6b81; }

.button {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transition: all 0.2; }
  .button .light-mode,
  .button .dark-mode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer; }
    .button .light-mode:hover,
    .button .dark-mode:hover {
      background-size: 2.5rem; }
    .button .light-mode:hover,
    .button .light-mode:hover .button,
    .button .dark-mode:hover,
    .button .dark-mode:hover .button {
      width: 5rem;
      height: 5rem; }
  .button .light-mode {
    background: #fff url("../svg/sun.svg") no-repeat center;
    background-size: 2rem; }
  .button .dark-mode {
    background: #3d3d49 url("../svg/moon.svg") no-repeat center;
    background-size: 2rem; }

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .cards-container .card {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    width: 26rem;
    margin-bottom: 2rem;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.1s ease-in-out; }
    .cards-container .card:hover {
      transform: scale(1.03); }
    .cards-container .card__img {
      width: 26rem;
      height: 14.5rem;
      margin-bottom: 2rem;
      background-size: cover; }
      .cards-container .card__img--1 {
        background-image: url("../img/move-1.jpg"); }
      .cards-container .card__img--2 {
        background-image: url("../img/move-2.jpg"); }
      .cards-container .card__img--3 {
        background-image: url("../img/move-3.jpg"); }
      .cards-container .card__img--4 {
        background-image: url("../img/move-4.jpg"); }
      .cards-container .card__img--5 {
        background-image: url("../img/move-5.jpg"); }
      .cards-container .card__img--6 {
        background-image: url("../img/move-6.jpg"); }
      .cards-container .card__img--7 {
        background-image: url("../img/move-7.jpg"); }
      .cards-container .card__img--8 {
        background-image: url("../img/move-8.jpg"); }
      .cards-container .card__img--9 {
        background-image: url("../img/move-9.jpg"); }
    .cards-container .card-content {
      padding: 0 1.2rem;
      font-size: 1rem; }
    .cards-container .card__title {
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: capitalize;
      color: #000;
      margin-bottom: 0.5rem; }
    .cards-container .card__classification {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem; }
      .cards-container .card__classification .star {
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        background-color: #fe2832;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); }
    .cards-container .card__link:link, .cards-container .card__link:visited {
      text-transform: capitalize;
      line-height: 1.5rem;
      color: #000; }
      .cards-container .card__link:link:not(:last-child), .cards-container .card__link:visited:not(:last-child) {
        margin-right: 1rem; }
    .cards-container .card__link:hover, .cards-container .card__link:active {
      border-bottom: 1px solid #fe2832; }
    .cards-container .card__text {
      margin-bottom: 2rem; }
    .cards-container .card__cta {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem; }

.search-box {
  width: 100%; }

.input-search {
  outline: none; }
  .input-search--main {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    width: 100%;
    padding: 1.4rem 5rem;
    font-family: inherit;
    font-size: 1.2rem;
    background: #fff url("../img/search-button.png") no-repeat left;
    background-position: 2rem;
    box-sizing: inherit; }
  .input-search--filter {
    width: 70%;
    padding: 1rem;
    font-family: inherit;
    font-size: 1.2rem;
    background-color: #f7f7f7;
    border-radius: 3px; }
    .input-search--filter:not(:last-child) {
      margin-bottom: 1rem; }

.header {
  /* Fading animation */ }
  .header .mySlides {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .header .mySlides--1 {
    width: 100%;
    height: 360px;
    background-size: cover;
    background-position: top;
    background-image: url("../img/header_show_master_of_none_large.jpg"); }
  .header .mySlides--2 {
    width: 100%;
    height: 360px;
    background-size: cover;
    background-position: top;
    background-image: url("../img/header_show_stranger-things_one.png"); }
  .header .mySlides--3 {
    width: 100%;
    height: 360px;
    background-size: cover;
    background-position: top;
    background-image: url("../img/header_show_suits.jpg"); }
  .header .prev,
  .header .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; }
    .header .prev:hover, .header .prev:hover,
    .header .next:hover,
    .header .next:hover {
      background-color: rgba(0, 0, 0, 0.8); }
  .header .next {
    right: 0;
    border-radius: 3px 0 0 3px; }
  .header .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #f7f7f7;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
  .header .adjust {
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center; }
  .header .active,
  .header .dot:hover {
    background-color: #fe2832; }
  .header .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

.aside__browse {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 20rem;
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;
  background-color: #fff; }
  .aside__browse .navegation__item {
    padding: 0.8rem 0; }
  .aside__browse .navegation__link:link, .aside__browse .navegation__link:visited {
    font-size: 1.4rem;
    color: #000; }
  .aside__browse .navegation__link:hover, .aside__browse .navegation__link:active {
    color: #fe2832; }

.aside__filter {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 20rem;
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;
  background-color: #fff; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((100% - 6rem) / 2); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.menu {
  padding: 1.5rem;
  padding-left: 3.5rem;
  padding-right: 8rem;
  display: flex;
  align-items: center; }
  .menu .logo {
    margin-right: 3rem; }
  .menu__nav {
    margin-right: auto; }
  .menu__link {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.5rem;
    display: inline-block;
    color: #000; }
    .menu__link:not(:last-child) {
      margin-right: 1.4rem; }

.user {
  align-self: flex-end; }
  .user__img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    border: 2px solid #fff;
    border-radius: 3px;
    float: left; }
  .user__name {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-transform: capitalize; }

.header {
  position: relative;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  background-color: transparent;
  height: 36rem; }

.section-features {
  padding: 4.5rem 0; }
