@mixin menu-text {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

@mixin b-shadow-radius {
  box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
  border-radius: $default-border-radius;
}

@mixin clearfix {
  clear: both;
}
