// COLORS
$color-primary: #fe2832;

$color-grey-light-1: #f7f7f7;

$color-grey-dark-1: #3d3d49;

$color-white: #fff;
$color-black: #000;

// MARGIN
$margin-bottom-small: 2rem;
$margin-bottom-medium: 4rem;
$margin-bottom-big: 6rem;

// BORDER-RADIUS
$default-border-radius: 3px;

// FONT
$default-font-size: 1rem;
