.menu {
  padding: 1.5rem;
  padding-left: 3.5rem;
  padding-right: 8rem;
  display: flex;
  align-items: center;

  .logo {
    margin-right: 3rem;
  }

  &__nav {
    margin-right: auto;
  }

  &__link {
    @include menu-text();
    display: inline-block;
    color: $color-black;

    &:not(:last-child) {
      margin-right: 1.4rem;
    }
  }
}

.user {
  align-self: flex-end;
  &__img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    border: 2px solid $color-white;
    border-radius: $default-border-radius;
    float: left;
  }

  &__name {
    @include menu-text();
    text-transform: capitalize;
  }
}
