// BUTTON CARD
.btn {
  &:link,
  &:visited {
    width: 11rem;
    height: 3rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    text-align: center;
    line-height: 3rem;
    color: $color-white;
    display: inline-block;
    background-color: $color-white;
    border-radius: 3px;
  }

  &--play {
    &:link,
    &:visited {
      color: $color-white;
      background-color: $color-primary;
    }

    &:hover,
    &:active {
      background-color: darken($color-primary, 20%);
    }
  }

  &--myList {
    &:link,
    &:visited {
      color: $color-white;
      background-color: $color-grey-dark-1;
    }

    &:hover,
    &:active {
      background-color: lighten($color-grey-dark-1, 20%);
    }
  }
}

// BUTTON THEME
.button {
  width: 4rem;
  height: 4rem;
  background-color: $color-white;
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
  transition: all 0.2;

  .light-mode,
  .dark-mode {
    @include centerElement;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-size: 2.5rem;
    }

    &:hover,
    &:hover .button {
      width: 5rem;
      height: 5rem;
    }
  }

  .light-mode {
    background: $color-white url("../svg/sun.svg") no-repeat center;
    background-size: 2rem;
  }

  .dark-mode {
    background: $color-grey-dark-1 url("../svg/moon.svg") no-repeat center;
    background-size: 2rem;
  }
}
